/* *{

	margin-top:30px;
	padding:0;
	margin-left: 10px;
	margin-right: 10px;
	border: 0;
} */
.body{
	background-image: url("./images/background.jpeg")
    
}


.d1{
	background-color:#884dff;
	height:370px;
	color: white;
	border-radius: 25px;
 	margin-top:30px;
  margin-left: 10px;
	margin-right: 10px;
}
.d2{
	background-color: #ff5050;
	height:370px;
	color: white;
	border-radius: 25px;
 	margin-top:30px;
  margin-left: 10px;
	margin-right: 10px;

}
.d3{
	background-color: #ffff66;
	height:370px;
	color: black;
	border-radius: 25px;
 	margin-top:30px;
  margin-left: 10px;
	margin-right: 10px;
}
.d4{
	background-color: #ff6666;
	height:370px;
	border-radius: 25px;
 	margin-top:30px;
  margin-left: 10px;
	margin-right: 10px;


}
.d5{
	background-color: #9933ff;
	height:400px;
	color: white;
	border-radius: 25px;
 	margin-top:30px;
  margin-left: 10px;
	margin-right: 10px;
}


h1.a,h1.b,h1.e{
	letter-spacing:  4px;
	font-size: 50px;
    
	text-align: center;
	font-weight: 900;
	font-family:  fantasy;
	 text-transform: uppercase;


}
h1.c,h1.d
{
	letter-spacing:  4px;
	font-size:50px;
	text-align: center;
	font-weight: 900;
	font-family:   fantasy;
	 text-transform: uppercase;
}
p{
	letter-spacing: 5px;
	line-height: 1.6;
	margin: 60px;
	word-spacing: 10px;
	font-style: italic ;
	 font-family: Georgia, serif;
	 font-size: 16px;
	 font-weight: 900;

	



}
.img2,.img4{
	max-width: 100%;
	float: right;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	right: 0px;
	 padding: 25px   100px;

  margin-bottom: 100px;
 

 
}
.img1,.img3,.img5{
	max-width: 100%;
	float: left;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	 padding: 25px 100px;
	
     left: 0px;
}