*{
 margin: 0;
 padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
a{
 padding: 1rem;
 text-decoration: none;
 color: #ffffff;
}
a:hover
{
 color: coral;
}
.screen
{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 5rem 1fr 5rem;
 grid-area: 'nav'
            'main'
            'footer';
 height: 100vh;
}
nav{
 grid-area: 'nav';
 background-color: black;
 position: -webkit-sticky; /* Safari & IE */
position: sticky;
top: 0;
}
main,.again
{
 grid-area: 'main';
 display: flex;
  flex-wrap: wrap;
   flex-flow: column wrap;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
}
footer
{
 grid-area: 'footer';
  background-color: rgb(71, 65, 65);
  color: #ffffff;
}

.row
{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.cartItem
{
  display: flex;
  align-items: center;
  justify-content:center;
  border: 1px solid black ;
  margin: 0.5rem;
}
.cartItem__name
{
  padding: 2rem;
}
.center
{
 justify-content: center;
}
.delete-btn
{
  margin: 1rem;
   border-color: #f10404;
 background-color: #fdfdfd;
 color:rgb(0, 0, 0);
 width: 6rem;
 height: 3rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.delete-btn:hover
{
background-color: rgb(247, 46, 46);
color: #ffffff;

}
.about
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content
{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 10rem;
}
.remove-btn
{
  margin: 2rem;
}